html {
  height: 100%;
}

body {
  margin: 0.5em;
  padding: 0.5em 1em;

  font-family: Roboto, sans-serif;
  font-weight: 300;
  word-wrap: break-word;
}

body.noinput {
  width: 100%;
  width: calc(100% - 3em);
  height: 100%;
  height: calc(100% - 2em);
}

button {
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  width: 7.5em;
}

button:active {
  background-color: #cf402f;
}

button:hover {
  background-color: #cf402f;
}

button[disabled] {
  background-color: #888;
  color: #ccc;
}

input[type=text] {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  padding: 1px 2px 3px 6px;
}

label, .label {
  color: #444;
  display: inline-block;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  width: 11em;
}

input[type=checkbox] + label {
  width: auto;
}

#videoContainer {
  background-color: transparent;
  z-index: 1;
  min-width: 256px;
}

.videoPlayer {
  width: 100%; 
  height: 100%;
  margin: auto;
}

.videoPlayer::cue {
  background-color: transparent !important;
}

#canvas360 {
  display: none;
  height: 100%;
}

.overlay-parent {
  /* Makes this a positioned ancestor of .overlay */
  position: relative;
}

.overlay {
  /* Allows this to be positioned relative to a containing .overlay-parent */
  position: absolute;
}

.for-screen-readers {
  /* Hide the content from sighted users, but not screen readers */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#bufferingSpinner {
  margin: auto;
  width: 100px;
  height: 100px;
  display:none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

#controlsContainer {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left:0;
}

#controls {
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: rgba(12, 90, 165, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;

  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  background: -moz-linear-gradient(top, rgba(255,116,0,0.05) 0%, rgba(255,116,0,0.05) 11%, rgba(255,116,0,0.08) 20%, rgba(255,116,0,0.1) 27%, rgba(255,116,0,0.15) 35%, rgba(255,116,0,0.16) 44%, rgba(255,116,0,0.17) 50%, rgba(255,116,0,0.18) 56%, rgba(255,116,0,0.19) 62%, rgba(255,116,0,0.2) 68%, rgba(255,116,0,0.22) 72%, rgba(255,116,0,0.24) 75%, rgba(255,116,0,0.26) 78%, rgba(255,116,0,0.28) 82%, rgba(255,116,0,0.32) 87%, rgba(255,116,0,0.34) 90%, rgba(255,116,0,0.36) 93%, rgba(255,116,0,0.38) 96%, rgba(255,116,0,0.4) 99%, rgba(255,116,0,0.4) 100%);
  background: -webkit-linear-gradient(top, rgba(255,116,0,0.05) 0%,rgba(255,116,0,0.05) 11%,rgba(255,116,0,0.08) 20%,rgba(255,116,0,0.1) 27%,rgba(255,116,0,0.15) 35%,rgba(255,116,0,0.16) 44%,rgba(255,116,0,0.17) 50%,rgba(255,116,0,0.18) 56%,rgba(255,116,0,0.19) 62%,rgba(255,116,0,0.2) 68%,rgba(255,116,0,0.22) 72%,rgba(255,116,0,0.24) 75%,rgba(255,116,0,0.26) 78%,rgba(255,116,0,0.28) 82%,rgba(255,116,0,0.32) 87%,rgba(255,116,0,0.34) 90%,rgba(255,116,0,0.36) 93%,rgba(255,116,0,0.38) 96%,rgba(255,116,0,0.4) 99%,rgba(255,116,0,0.4) 100%);
  background: linear-gradient(to bottom, rgba(255,116,0,0.05) 0%,rgba(255,116,0,0.05) 11%,rgba(255,116,0,0.08) 20%,rgba(255,116,0,0.1) 27%,rgba(255,116,0,0.15) 35%,rgba(255,116,0,0.16) 44%,rgba(255,116,0,0.17) 50%,rgba(255,116,0,0.18) 56%,rgba(255,116,0,0.19) 62%,rgba(255,116,0,0.2) 68%,rgba(255,116,0,0.22) 72%,rgba(255,116,0,0.24) 75%,rgba(255,116,0,0.26) 78%,rgba(255,116,0,0.28) 82%,rgba(255,116,0,0.32) 87%,rgba(255,116,0,0.34) 90%,rgba(255,116,0,0.36) 93%,rgba(255,116,0,0.38) 96%,rgba(255,116,0,0.4) 99%,rgba(255,116,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dff7400', endColorstr='#66ff7400',GradientType=0 );
}

/* Show the controls when the mouse is over them.  This overrides the mouse
 * timeout logic in JS that is used to hide the controls when the mouse stops
 * moving over the video container.
 */
#controls:hover {
  opacity: 1;
}

/* NOTE: These fullscreen pseudo-classes can't be combined.  Browsers ignore
 * the rest of the list once they hit one prefix they don't support.
 */
#videoContainer:fullscreen { width: 100%; height: 100%; }
#videoContainer:-webkit-full-screen { width: 100%; height: 100%; }
#videoContainer:-moz-full-screen { width: 100%; height: 100%; }
#videoContainer:-ms-fullscreen { width: 100%; height: 100%; }

#player::-webkit-media-controls {display:none !important;}

#fullscreenButton {
  float: right;
  position: absolute;
  right: 9px;
}

#controls-top {
  width: 100%;
  height: 30px;
  top: 0;
  position: absolute;
  display: flex;
  padding: 0px;
  margin-top: 5px;
  opacity: 0;
}

#controls-bottom {
  width: 100%;
  height: 30px;
  bottom: 0;
  position: absolute;
  display: inline-flex;
  padding: 0px;
  opacity: 0;
}

#controls-bottom button {
  color: white;
  height: 32px;
  width: 32px;
  padding : 0;
  margin: 0 7px 0 0;
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

#controls-bottom button:active {
  background: rgba(100, 100, 100, 0.4);
}

#controls-bottom button:disabled {
  color: rgba(255, 255, 255, 0.3);
}

#controls-top input[type="range"] {
  cursor: pointer;
}

#controls-bottom input[type="range"] {
  cursor: pointer;
}

#castReceiverName {
  display: none;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 150%;
  padding: 5px;

  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
}

#giantPlayButtonContainer {
  margin: auto;
  width:20vmin;
  height:20vmin;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

#giantPlayButton {
  width: 20vmin;
  height: 20vmin;
  font-size: 20vmin;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent !important;
  border-radius: 40px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#canvasContainer{
  position: absolute;
  left: 0;
  top: 0;
}

#currentTime {
  display: flex;
  flex-grow: 0;
  margin: 3px 9px 0 0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
  float: left;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 5px;
}

/* NOTE: pseudo-elements for different browsers can't be combined with commas.
 * Browsers will ignore styles if any pseudo-element in the list is unknown.
 */

#seekbarContainer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* range inputs, common style */
#seekBar, #volumeBar {
  display: flex;
  height: 2px;
  margin: 0 0 0 0;
  padding: 0;

  /* removes webkit default styling */
  -webkit-appearance: none;

  /*border: 1px solid #808080;*/
  border-radius: 0px;
  background-color: black;
  outline: none;
  /*position: relative;*/
}

#circleBase {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #ff5500;
    /*border: 1px solid #808080;*/
    margin: -4px 0 0 0;
    display: flex;
    position: absolute;
    padding: 0;
    pointer-events: none;
}

#circleBaseAudio {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #ff5500;
    /*border: 1px solid #808080;*/
    margin: 9px 0 0 0;
    display: flex;
    position: absolute;
    padding: 0;
    pointer-events: none;
}

/* removes mozilla default styling */
#seekBar::-moz-range-track, #volumeBar::-moz-range-track {
  background-color: transparent;
  outline: none;
  border: none;
}
/* removes IE default styling */
#seekBar::-ms-track, #seekBar::-ms-fill-lower, #seekBar::-ms-fill-upper,
#volumeBar::-ms-track, #volumeBar::-ms-fill-lower, #volumeBar::-ms-fill-upper {
  background-color: transparent;
  outline: none;
  border: none;
}

/* per-instance styles */
#seekBar {
  flex-grow: 1;
  width: 99%;
  bottom: 10px;
}

#volumeBarContainer #volumeBar {
  flex-grow: 0;
  min-width: 15px;
  max-width: 70px;
  margin-top: 13px;
}


#thumbImage {
  width:100%;
  border-radius: 5px;
  display: inherit;
  vertical-align: middle;
  position: relative;
}

#thumbImageContainer {

  padding: 2px;
  border-radius: 5px;
  display:none;
  width:13%;
  min-width: 90px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}

#thumbText {
  font-size: 10px;
  background: rgba(0,0,0,0.7);
  color: white;
  position: absolute;
  padding: 1px 5px;
  display: inherit;
  margin-top: 0;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 2px;
  width:fit-content;
}


/* turn off tooltips for the seekBar on IE */
#seekBar::-ms-tooltip {
  display: none;
}

/* hide volume and mute buttons on mobile-sized screens */
@media screen and (max-width: 700px) {
  #volumeBar, #muteButton, #circleBaseAudio {
    display: none;
  }
}

.spinnerSvg {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.spinnerPath {
  stroke: #d62d20;
  stroke-dasharray: 20, 200;
  stroke-dashoffset: 0;
  animation:
    dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}

/* Dropdown Button */
#settingsButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
  float: right;
  position: absolute;
  right: 45px;
}

#dropdown-general{
  display:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff5500;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom: 60px;
    width: max-content;
    right: 0;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(255, 85, 0, 0.3);
    color: white;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown-item{
 min-height: 1.5em;


}

#adContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#thumbImageContainer{
  top:90%;
}

#loadDiv{
  margin:30px;
}

.button-menu{
  padding:5px;
  color: white;
  background-color: #ff5100;
  border-color: #ff5100;
  border-width: 2px;
  text-decoration: none;
  border-radius: 8px;
}
#newURL{
  margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .material-icons {
    margin: 0 0.6em 0.8em 0;
    padding: 9px 0 10px 0;
  }

  #seekBar {
   flex-grow: 0.9;
  }
  
  button:active {
    background-color: darkRed;
  }

  input[type=text] {
    font-size: 0.8em;
  }

  label, .label {
    font-weight: 500;
    margin: 0 0 0.4em 0;
  }
  #controlsContainer {
  height:60px;
  }
  #controls{
  height:60px;
  }
}

#videoContainer, #watermark{-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none;}

#volumeBar::-webkit-slider-thumb {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}
#volumeBar::-moz-range-thumb {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}
#volumeBar::-ms-thumb {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

#seekBar::-webkit-slider-thumb {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}
#seekBar::-moz-range-thumb {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}
#seekBar::-ms-thumb {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

#seekBar::-webkit-slider-thumb, #volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgba(34, 64, 115, 1.0);
  outline: none;
}
#seekBar::-moz-range-thumb, #volumeBar::-moz-range-thumb {
  -moz-appearance: none;
  background-color: rgba(34, 64, 115, 1.0);
  outline: none;
}
#seekBar::-ms-thumb, #volumeBar::-ms-thumb {
  appearance: none;
  background-color: rgba(34, 64, 115, 1.0);
  outline: none;
}

#adMarkerContainer {
    flex-grow: 1;
    width: 99%;
    margin-right: 5px;
    bottom: 10px;
    display: flex;
    height: 2px;
    margin: 0 0 0 0;
    padding: 0;
    pointer-events: none;
}

#volumeBarContainer {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  max-width: 62px;
}

.adMarker {
  width: 4px;
  height: 2px;
  position: absolute;
  top: 2px;
  background: yellow;
  pointer-events: none;
}

@media (min-width: 768px){
  #video-caption p{
    font-size: 2em;
    padding-bottom: 2rem;
  }
}

.dropdown-item select{
  float:right;
}

#fullscreenThumbPreview{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#fullscreenThumbPreview > #previewCanvas{
  width: 100%;
}

#canvasContainer {
  opacity:0;
  pointer-events: none;
}
#giantPreviewOverlay{
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  background: rgba(0, 0, 0, 0.5);
}

#giantPreview, #giantPreviewOverlay, #canvasContainer{
  opacity:0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#watermark{
    position: absolute;
    width: 20%;
    top: 1%;
    right: 1%;
}
